<li id="comment-<%= comment._id %>" class="comment-container bg-[var(--complementary2)] p-2 rounded-xl text-white">
    <% if(locals.user && (user.id == comment.user.id || user.id == post.user.id)) { %>
        <a class="comment-delete-button float-right" href="/comments/destroy/<%= comment.id %>"> <i class="fa-solid fa-xmark"></i> </a>
    <% } %>
    <div class="text-xs"> <%= comment.user.name %> </div>
    <div> <%= comment.content %> </div>
</li>