<footer class="flex gap-8 bg-slate-600 text-white text-lg px-3 py-1">
    <h4 class="font-semibold"> © itzRaghav14. All Rights Reserved </h4>

    <!-- pages -->
    <ul class="flex flex-col font-medium">
        <li><a href="/">Home</a></li>
        <li><a href="/users/profile">Profile</a></li>
    </div>
</footer>