<h1>Users Homepage</h1>
<ul>
    <li><a href="/" class="underline">Home</a></li>
    <li><a href="sign-up" class="underline"> Sign Up </a></li>
    <li><a href="sign-in" class="underline"> Sign In </a></li>
</ul>
<h1>Username : <%= user.username %></h1>
<h1>Name : <%= user.name %></h1>