
<main class="h-screen p-5 space-y-3">
    
    <h1 class="text-5xl font-bold">Codeial / Profile</h1>
    
    <ul class="text-2xl">
        <li> Name - <span class="font-medium"> <%= user.name %> </span> </li>
        <li> Username - <span class="font-medium"> <%= user.username %> </span> </li>
        <li> Email - <span class="font-medium"> <%= user.email %> </span> </li>
    </ul>
    
</main>
