<h1>Users Homepage</h1>
<div>
    <a href="sign-up" class="underline"> Sign Up </a> 
</div>
<div>
    <a href="sign-in" class="underline"> Sign In </a> 
</div>
<div>
    <h1> Name : <%= user.name %> </h1>
    <h2> Username : <%= user.username %></h2>
    <h2> Email : <%= user.email %></h2>
</div>