<form action="createSession" method="post" class="w-screen h-screen bg-gradient-to-br from-blue-300 to via-violet-300 pt-8">
    <div class="mx-auto my-20 w-2/5 p-12 rounded-2xl text-white bg-gradient-to-tr from-pink-500 to-fuchsia-500">
        <h1 class="font-bold text-4xl text-center pb-2">SIGN IN FORM</h1>
        <div class="flex flex-col gap-6 pt-6">
            <div class="grid grid-cols-2">
                <label for="sign-up-form-username"> Username : </label>
                <input type="text" name="username" id="sign-up-form-username" required class="rounded">
            </div>
            <div class="grid grid-cols-2">
                <label for="sign-up-form-password"> Password : </label>
                <input type="password" name="password" id="sign-up-form-password" required class="rounded">
            </div>
            <button type="submit" class="border text-justify border-white w-fit py-2 px-3 mx-auto rounded-3xl hover:bg-white hover:text-fuchsia-700 "> SIGN IN </button>
        </div>
    </div>
</form>