<form action="create" method="post" class="w-screen h-screen bg-gradient-to-br from-blue-300 to via-violet-300 pt-8">
    <div class="mx-auto my-20 w-2/5 p-12 rounded-2xl text-white bg-gradient-to-tr from-pink-500 to-fuchsia-500">
        <h1 class="font-bold text-4xl text-center pb-2">SIGN UP FORM</h1>
        <div class="flex flex-col gap-6 pt-6">
            <div class="grid grid-cols-2">
                <label for="sign-up-form-name"> Name </label>
                <input type="text" name="name" id="sign-up-form-name" required class="rounded text-black py-1 px-2" placeholder="Your Name">
            </div>
            <div class="grid grid-cols-2">
                <label for="sign-up-form-email"> Email </label>
                <input type="email" name="email" id="sign-up-form-email" required class="rounded text-black py-1 px-2" placeholder="Your Email">
            </div>
            <div class="grid grid-cols-2">
                <label for="sign-up-form-username"> Username </label>
                <input type="text" name="username" id="sign-up-form-username" required class="rounded text-black py-1 px-2" placeholder="Your Username">
            </div>
            <div class="grid grid-cols-2">
                <label for="sign-up-form-password"> Password </label>
                <input type="password" name="password" id="sign-up-form-password" required class="rounded text-black py-1 px-2" placeholder="Password">
            </div>
            <div class="grid grid-cols-2">
                <label for="sign-up-form-password"> Confirm Password </label>
                <input type="password" name="confirm_password" id="sign-up-form-password" required class="rounded text-black py-1 px-2" placeholder="Confirm Password">
            </div>
            <button type="submit" class="border text-justify border-white w-fit py-2 px-3 mx-auto rounded-3xl hover:bg-white hover:text-fuchsia-700 "> SIGN UP </button>
        </div>
    </div>
</form>